*{
    background-color: #D2B450;
}
#title{
    text-align: center;
}
div{
    display: inline-block;
}
#Premchand{
    height: 100px;
    text-align: right;;

}
#timeline{
    position: sticky;
    top: 0;
    z-index: 1;
}
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background;;
}
.works img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.works img:hover{
    transform: scale(1.05);
}